In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [62]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) ==6).all()

#june = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
    #filter(extract('month', Measurement.date) ==6).all()

In [63]:
#  3. Convert the June temperatures to a list.
june_temps = list((june))

In [65]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temps, columns=['date', 'June temps'])
june_df.set_index(june_df['date'], inplace=True)

#june_df = pd.DataFrame(june_temps, columns=['date','June precipitation', 'June temps'])
#june_df.set_index(june_df['date'], inplace=True)

In [66]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [75]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==12).all()

#december = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).\
    #filter(extract('month', Measurement.date) ==6).all()

In [76]:
# 7. Convert the December temperatures to a list.
dec_temp = list((december))

In [77]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp,columns=['date','December Temps'])
dec_df.set_index(dec_df['date'], inplace=True)

#dec_df = pd.DataFrame(dec_temp,columns=['date','December precipitation', 'December Temps'])
#dec_df.set_index(dec_df['date'], inplace=True)

In [78]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

## D3: Determine the Summary Statistics for March and September

In [38]:
march = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==3).all()

In [39]:
mar_temp = list((march))

In [40]:
mar_df = pd.DataFrame(mar_temp,columns=['date','March Temps'])
mar_df.set_index(mar_df['date'], inplace=True)

In [42]:
mar_df.describe()

       March Temps
count  1693.000000
mean     70.059067
std       3.845271
min      56.000000
25%      68.000000
50%      70.000000
75%      73.000000
max      82.000000

In [43]:
september = session.query(Measurement.date, Measurement.tobs).\
filter(extract('month',Measurement.date) ==9).all()

In [47]:
sep_temp = list((september))

In [48]:
sep_df = pd.DataFrame(sep_temp,columns=['date','September Temps'])
sep_df.set_index(sep_df['date'], inplace=True)

In [49]:
sep_df.describe()

       September Temps
count      1480.000000
mean         76.164865
std           3.535178
min          64.000000
25%          74.000000
50%          76.000000
75%          79.000000
max          87.000000